<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.yw.dao.DeviceMapper" >
  <resultMap id="BaseResultMap" type="com.tianyi.yw.model.Device" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="point_id" property="pointId" jdbcType="VARCHAR" />
    <result column="point_number" property="pointNumber" jdbcType="VARCHAR" />
    <result column="point_name" property="pointName" jdbcType="VARCHAR" />
    <result column="point_naming" property="pointNaming" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="ip_address" property="ipAddress" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="AREA_NAME" property="areaName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="rtsp_url" property="rtspUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    t.id, t.point_id, t.point_number, t.point_name, t.point_naming, t.type, t.address, t.ip_address, 
    t.area_id,t.rtsp_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_device t
    where t.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_device
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianyi.yw.model.Device" >
    <selectKey resultType="INTEGER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
    insert into t_device (id, point_id, point_number, 
      point_name, point_naming, type, 
      address, ip_address, area_id,rtsp_url
      )
    values (#{id,jdbcType=INTEGER}, #{pointId,jdbcType=VARCHAR}, #{pointNumber,jdbcType=VARCHAR}, 
      #{pointName,jdbcType=VARCHAR}, #{pointNaming,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{ipAddress,jdbcType=VARCHAR}, #{areaId,jdbcType=INTEGER},
      #{rtspUrl,jdbcType=VARCHAR}	
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tianyi.yw.model.Device" >
    insert into t_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pointId != null" >
        point_id,
      </if>
      <if test="pointNumber != null" >
        point_number,
      </if>
      <if test="pointName != null" >
        point_name,
      </if>
      <if test="pointNaming != null" >
        point_naming,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="ipAddress != null" >
        ip_address,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="rtspUrl != null" >
        rtsp_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pointId != null" >
        #{pointId,jdbcType=VARCHAR},
      </if>
      <if test="pointNumber != null" >
        #{pointNumber,jdbcType=VARCHAR},
      </if>
      <if test="pointName != null" >
        #{pointName,jdbcType=VARCHAR},
      </if>
      <if test="pointNaming != null" >
        #{pointNaming,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null" >
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="rtspUrl != null" >
        #{rtspUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyi.yw.model.Device" >
    update t_device
    <set >
      <if test="pointId != null" >
        point_id = #{pointId,jdbcType=VARCHAR},
      </if>
      <if test="pointNumber != null" >
        point_number = #{pointNumber,jdbcType=VARCHAR},
      </if>
      <if test="pointName != null" >
        point_name = #{pointName,jdbcType=VARCHAR},
      </if>
      <if test="pointNaming != null" >
        point_naming = #{pointNaming,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null" >
        ip_address = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="rtspUrl != null" >
        rtsp_url = #{rtspUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyi.yw.model.Device" >
    update t_device
    set point_id = #{pointId,jdbcType=VARCHAR},
      point_number = #{pointNumber,jdbcType=VARCHAR},
      point_name = #{pointName,jdbcType=VARCHAR},
      point_naming = #{pointNaming,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      ip_address = #{ipAddress,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=INTEGER},
      rtsp_url = #{rtspUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="query_sql">
  	from t_device t left join t_area a on t.area_id = a.id
  	 where 1=1 
  	 <if test="searchName != null and searchName !=''" >
      and ( 
      	t.point_number like CONCAT('%',#{searchName,jdbcType=VARCHAR},'%') 
      	OR 
      	t.point_name like CONCAT('%',#{searchName,jdbcType=VARCHAR},'%')
      	OR 
      	t.address like CONCAT('%',#{searchName,jdbcType=VARCHAR},'%')
      )
     </if>
     <if test="pointNumber != null" >
        and  t.POINT_NUMBER = #{pointNumber,jdbcType=VARCHAR}
    </if>
    <if test="id != null" >
        and t.id != #{id,jdbcType=VARCHAR}
    </if>
  </sql>
  <select id="getDeviceList" resultMap="BaseResultMap" parameterType="com.tianyi.yw.model.Device">
  	 select <include refid="Base_Column_List" />,a.name as AREA_NAME  
  	 <include refid="query_sql" />
    order by t.id desc
  	 <if test="pageStart != null and pageSize != null and pageStart>-1 and pageSize>-1">
        limit #{pageStart}, #{pageSize}
    </if>
  </select>
  
  <select id="getDeviceCount" resultType="java.lang.Integer" parameterType="com.tianyi.yw.model.Device">
  	 select count(*)
  	 <include refid="query_sql" />
  </select>
  
  <select id="getExistDevicePoint" resultMap="BaseResultMap" parameterType="com.tianyi.yw.model.Device">
  	select <include refid="Base_Column_List" />
  	<include refid="query_sql"/>
  </select>
  
  <select id="getAreaListByAreaId" resultMap="BaseResultMap" parameterType="com.tianyi.yw.model.Device">
  	select <include refid="Base_Column_List"/>
  	from t_device t 
  	where 1=1 
  	<if test="areaId != null">
	  and	t.area_id = #{areaId,jdbcType = INTEGER}
  	</if>
  </select>
</mapper>
