<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.yw.dao.DeviceStatusRecordMapper" >
  <resultMap id="BaseResultMap" type="com.tianyi.yw.model.DeviceStatusRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="device_id" property="deviceId" jdbcType="INTEGER" />
    <result column="network_status" property="networkStatus" jdbcType="INTEGER" />
    <result column="stream_status" property="streamStatus" jdbcType="INTEGER" />
    <result column="noise_status" property="noiseStatus" jdbcType="INTEGER" />
    <result column="sign_status" property="signStatus" jdbcType="INTEGER" />
    <result column="color_status" property="colorStatus" jdbcType="INTEGER" />
    <result column="frame_frozen_status" property="frameFrozenStatus" jdbcType="INTEGER" />
    <result column="frame_shade_status" property="frameShadeStatus" jdbcType="INTEGER" />
    <result column="frame_fuzzy_status" property="frameFuzzyStatus" jdbcType="INTEGER" />
    <result column="frame_displaced_status" property="frameDisplacedStatus" jdbcType="INTEGER" />
    <result column="frame_strip_status" property="frameStripStatus" jdbcType="INTEGER" />
    <result column="frame_colorcase_status" property="frameColorcaseStatus" jdbcType="INTEGER" />
    <result column="light_exception_status" property="lightExceptionStatus" jdbcType="INTEGER" />
    <result column="black_screen_status" property="blackScreenStatus" jdbcType="INTEGER" />
    <result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="point_id" property="pointId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
     ds.id,  ds.device_id,  ds.network_status,  ds.stream_status,  ds.noise_status,  ds.sign_status,  ds.color_status, 
     ds.frame_frozen_status,  ds.frame_shade_status,  ds.frame_fuzzy_status,  ds.frame_displaced_status, 
     ds.frame_strip_status,  ds.frame_colorcase_status,  ds.light_exception_status,  ds.black_screen_status, 
     ds.record_time,  ds.create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_device_status_record  ds 
    where  ds.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByDeviceId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_device_status_record ds
    where ds.device_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_device_status_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertRecord" parameterType="com.tianyi.yw.model.DeviceStatus" >
    insert into t_device_status_record (id, device_id, network_status, 
      stream_status, noise_status, sign_status, 
      color_status, frame_frozen_status, frame_shade_status, 
      frame_fuzzy_status, frame_displaced_status, 
      frame_strip_status, frame_colorcase_status, 
      light_exception_status, black_screen_status, 
      record_time, create_time)
    values (#{id,jdbcType=INTEGER}, #{deviceId,jdbcType=INTEGER}, #{networkStatus,jdbcType=INTEGER}, 
      #{streamStatus,jdbcType=INTEGER}, #{noiseStatus,jdbcType=INTEGER}, #{signStatus,jdbcType=INTEGER}, 
      #{colorStatus,jdbcType=INTEGER}, #{frameFrozenStatus,jdbcType=INTEGER}, #{frameShadeStatus,jdbcType=INTEGER}, 
      #{frameFuzzyStatus,jdbcType=INTEGER}, #{frameDisplacedStatus,jdbcType=INTEGER}, 
      #{frameStripStatus,jdbcType=INTEGER}, #{frameColorcaseStatus,jdbcType=INTEGER}, 
      #{lightExceptionStatus,jdbcType=INTEGER}, #{blackScreenStatus,jdbcType=INTEGER}, 
      #{recordTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insert" parameterType="com.tianyi.yw.model.DeviceStatusRecord" >
    insert into t_device_status_record (id, device_id, network_status, 
      stream_status, noise_status, sign_status, 
      color_status, frame_frozen_status, frame_shade_status, 
      frame_fuzzy_status, frame_displaced_status, 
      frame_strip_status, frame_colorcase_status, 
      light_exception_status, black_screen_status, 
      record_time, create_time)
    values (#{id,jdbcType=INTEGER}, #{deviceId,jdbcType=INTEGER}, #{networkStatus,jdbcType=INTEGER}, 
      #{streamStatus,jdbcType=INTEGER}, #{noiseStatus,jdbcType=INTEGER}, #{signStatus,jdbcType=INTEGER}, 
      #{colorStatus,jdbcType=INTEGER}, #{frameFrozenStatus,jdbcType=INTEGER}, #{frameShadeStatus,jdbcType=INTEGER}, 
      #{frameFuzzyStatus,jdbcType=INTEGER}, #{frameDisplacedStatus,jdbcType=INTEGER}, 
      #{frameStripStatus,jdbcType=INTEGER}, #{frameColorcaseStatus,jdbcType=INTEGER}, 
      #{lightExceptionStatus,jdbcType=INTEGER}, #{blackScreenStatus,jdbcType=INTEGER}, 
      #{recordTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tianyi.yw.model.DeviceStatusRecord" >
    insert into t_device_status_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="networkStatus != null" >
        network_status,
      </if>
      <if test="streamStatus != null" >
        stream_status,
      </if>
      <if test="noiseStatus != null" >
        noise_status,
      </if>
      <if test="signStatus != null" >
        sign_status,
      </if>
      <if test="colorStatus != null" >
        color_status,
      </if>
      <if test="frameFrozenStatus != null" >
        frame_frozen_status,
      </if>
      <if test="frameShadeStatus != null" >
        frame_shade_status,
      </if>
      <if test="frameFuzzyStatus != null" >
        frame_fuzzy_status,
      </if>
      <if test="frameDisplacedStatus != null" >
        frame_displaced_status,
      </if>
      <if test="frameStripStatus != null" >
        frame_strip_status,
      </if>
      <if test="frameColorcaseStatus != null" >
        frame_colorcase_status,
      </if>
      <if test="lightExceptionStatus != null" >
        light_exception_status,
      </if>
      <if test="blackScreenStatus != null" >
        black_screen_status,
      </if>
      <if test="recordTime != null" >
        record_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="networkStatus != null" >
        #{networkStatus,jdbcType=INTEGER},
      </if>
      <if test="streamStatus != null" >
        #{streamStatus,jdbcType=INTEGER},
      </if>
      <if test="noiseStatus != null" >
        #{noiseStatus,jdbcType=INTEGER},
      </if>
      <if test="signStatus != null" >
        #{signStatus,jdbcType=INTEGER},
      </if>
      <if test="colorStatus != null" >
        #{colorStatus,jdbcType=INTEGER},
      </if>
      <if test="frameFrozenStatus != null" >
        #{frameFrozenStatus,jdbcType=INTEGER},
      </if>
      <if test="frameShadeStatus != null" >
        #{frameShadeStatus,jdbcType=INTEGER},
      </if>
      <if test="frameFuzzyStatus != null" >
        #{frameFuzzyStatus,jdbcType=INTEGER},
      </if>
      <if test="frameDisplacedStatus != null" >
        #{frameDisplacedStatus,jdbcType=INTEGER},
      </if>
      <if test="frameStripStatus != null" >
        #{frameStripStatus,jdbcType=INTEGER},
      </if>
      <if test="frameColorcaseStatus != null" >
        #{frameColorcaseStatus,jdbcType=INTEGER},
      </if>
      <if test="lightExceptionStatus != null" >
        #{lightExceptionStatus,jdbcType=INTEGER},
      </if>
      <if test="blackScreenStatus != null" >
        #{blackScreenStatus,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyi.yw.model.DeviceStatus" >
    update t_device_status_record
    <set >
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="networkStatus != null" >
        network_status = #{networkStatus,jdbcType=INTEGER},
      </if>
      <if test="streamStatus != null" >
        stream_status = #{streamStatus,jdbcType=INTEGER},
      </if>
      <if test="noiseStatus != null" >
        noise_status = #{noiseStatus,jdbcType=INTEGER},
      </if>
      <if test="signStatus != null" >
        sign_status = #{signStatus,jdbcType=INTEGER},
      </if>
      <if test="colorStatus != null" >
        color_status = #{colorStatus,jdbcType=INTEGER},
      </if>
      <if test="frameFrozenStatus != null" >
        frame_frozen_status = #{frameFrozenStatus,jdbcType=INTEGER},
      </if>
      <if test="frameShadeStatus != null" >
        frame_shade_status = #{frameShadeStatus,jdbcType=INTEGER},
      </if>
      <if test="frameFuzzyStatus != null" >
        frame_fuzzy_status = #{frameFuzzyStatus,jdbcType=INTEGER},
      </if>
      <if test="frameDisplacedStatus != null" >
        frame_displaced_status = #{frameDisplacedStatus,jdbcType=INTEGER},
      </if>
      <if test="frameStripStatus != null" >
        frame_strip_status = #{frameStripStatus,jdbcType=INTEGER},
      </if>
      <if test="frameColorcaseStatus != null" >
        frame_colorcase_status = #{frameColorcaseStatus,jdbcType=INTEGER},
      </if>
      <if test="lightExceptionStatus != null" >
        light_exception_status = #{lightExceptionStatus,jdbcType=INTEGER},
      </if>
      <if test="blackScreenStatus != null" >
        black_screen_status = #{blackScreenStatus,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null" >
        record_time = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyi.yw.model.DeviceStatusRecord" >
    update t_device_status_record
    set device_id = #{deviceId,jdbcType=INTEGER},
      network_status = #{networkStatus,jdbcType=INTEGER},
      stream_status = #{streamStatus,jdbcType=INTEGER},
      noise_status = #{noiseStatus,jdbcType=INTEGER},
      sign_status = #{signStatus,jdbcType=INTEGER},
      color_status = #{colorStatus,jdbcType=INTEGER},
      frame_frozen_status = #{frameFrozenStatus,jdbcType=INTEGER},
      frame_shade_status = #{frameShadeStatus,jdbcType=INTEGER},
      frame_fuzzy_status = #{frameFuzzyStatus,jdbcType=INTEGER},
      frame_displaced_status = #{frameDisplacedStatus,jdbcType=INTEGER},
      frame_strip_status = #{frameStripStatus,jdbcType=INTEGER},
      frame_colorcase_status = #{frameColorcaseStatus,jdbcType=INTEGER},
      light_exception_status = #{lightExceptionStatus,jdbcType=INTEGER},
      black_screen_status = #{blackScreenStatus,jdbcType=INTEGER},
      record_time = #{recordTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
   <select id="getDeviceStatusRecordList" resultMap="BaseResultMap" parameterType="com.tianyi.yw.model.DeviceStatusRecord" >
    select <include refid="Base_Column_List" />,
		d.point_id as point_id	
		<include refid="query_sql"/>
		order by ds.device_id asc
		 <if test="pageStart != null and pageSize != null and pageStart>-1 and pageSize>-1">
          limit #{pageStart}, #{pageSize}
  		</if>
  </select> 
  <sql id="query_sql">
      	from t_device_status_record ds
      	left join t_device d on d.id = ds.device_id  
		where 
		 d.flag = 0
          and d.id = ds.device_id 
		<if test="searchPointNumber != null and searchPointNumber != ''">
		and
		d.point_id like CONCAT('%',#{searchPointNumber,jdbcType=VARCHAR},'%')
		</if>	
      <if test="searchStatusId == 3">
      and(  
      ds.network_status = #{searchStatusId,jdbcType=INTEGER}
      and
      ds.stream_status = #{searchStatusId,jdbcType=INTEGER}
      and
      ds.noise_status = #{searchStatusId,jdbcType=INTEGER}
      and
      ds.sign_status = #{searchStatusId,jdbcType=INTEGER}
      and
      ds.color_status = #{searchStatusId,jdbcType=INTEGER}
      and
      ds.frame_frozen_status = #{searchStatusId,jdbcType=INTEGER}
      and
      ds.frame_shade_status = #{searchStatusId,jdbcType=INTEGER}
      and
      ds.frame_fuzzy_status = #{searchStatusId,jdbcType=INTEGER}
      and
      ds.frame_displaced_status = #{searchStatusId,jdbcType=INTEGER}
      and
      ds.frame_strip_status = #{searchStatusId,jdbcType=INTEGER}
      and
      ds.frame_colorcase_status = #{searchStatusId,jdbcType=INTEGER}
      and
      ds.light_exception_status = #{searchStatusId,jdbcType=INTEGER}
      and
      ds.black_screen_status = #{searchStatusId,jdbcType=INTEGER} 
      )
     </if>
    <if test="searchStatusId != 3 and searchStatusId != null and searchStatusId != 0">
       and(  
      ds.network_status = #{searchStatusId,jdbcType=INTEGER}
      or
      ds.stream_status = #{searchStatusId,jdbcType=INTEGER}
      or
      ds.noise_status = #{searchStatusId,jdbcType=INTEGER}
      or
      ds.sign_status = #{searchStatusId,jdbcType=INTEGER}
      or
      ds.color_status = #{searchStatusId,jdbcType=INTEGER}
      or
      ds.frame_frozen_status = #{searchStatusId,jdbcType=INTEGER}
      or
      ds.frame_shade_status = #{searchStatusId,jdbcType=INTEGER}
      or
      ds.frame_fuzzy_status = #{searchStatusId,jdbcType=INTEGER}
      or
      ds.frame_displaced_status = #{searchStatusId,jdbcType=INTEGER}
      or
      ds.frame_strip_status = #{searchStatusId,jdbcType=INTEGER}
      or
      ds.frame_colorcase_status = #{searchStatusId,jdbcType=INTEGER}
      or
      ds.light_exception_status = #{searchStatusId,jdbcType=INTEGER}
      or
      ds.black_screen_status = #{searchStatusId,jdbcType=INTEGER} 
      )
  </if>
  <if test="searchExceptionId != null and searchExceptionId == 2">
  		and ds.sign_status = #{searchExceptionId,jdbcType=INTEGER}
  </if>
  <if test="searchExceptionId != null and searchExceptionId == 3">
  		and ds.frame_frozen_status = #{searchExceptionId,jdbcType=INTEGER}
  </if>
  <if test="searchExceptionId != null and searchExceptionId == 4">
  		and ds.color_status = #{searchExceptionId,jdbcType=INTEGER}
  </if>
  <if test="searchExceptionId != null and searchExceptionId == 5">
  		and ds.noise_status = #{searchExceptionId,jdbcType=INTEGER}
  </if>
  <if test="searchExceptionId != null and searchExceptionId == 6">
  		and ds.frame_shade_status = #{searchExceptionId,jdbcType=INTEGER}
  </if>
  <if test="searchExceptionId != null and searchExceptionId == 7">
  		and ds.frame_fuzzy_status = #{searchExceptionId,jdbcType=INTEGER}
  </if>
  <if test="searchExceptionId != null and searchExceptionId == 8">
  		and ds.frame_displaced_status = #{searchExceptionId,jdbcType=INTEGER}
  </if>
  <if test="searchExceptionId != null and searchExceptionId == 9">
  		and ds.frame_strip_status = #{searchExceptionId,jdbcType=INTEGER}
  </if>
  <if test="searchExceptionId != null and searchExceptionId == 10">
  		and ds.frame_colorcase_status = #{searchExceptionId,jdbcType=INTEGER}
  </if>
  <if test="searchExceptionId != null and searchExceptionId == 11">
  		and ds.light_exception_status = #{searchExceptionId,jdbcType=INTEGER}
  </if>
  <if test="searchExceptionId != null and searchExceptionId == 14">
  		and ds.black_screen_status = #{searchExceptionId,jdbcType=INTEGER}
  </if> 
  </sql>
    <select id="getDeviceStatusRecordCount" resultType="java.lang.Integer" parameterType="com.tianyi.yw.model.DeviceStatusRecord">
  	 select count(*)
  	 <include refid="query_sql"/>
  </select>
</mapper>