<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.yw.dao.ParameMapper" >
  <resultMap id="BaseResultMap" type="com.tianyi.yw.model.Parame" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    p.id, p.name, p.key, p.value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_parame as p
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_parame
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianyi.yw.model.Parame" >
    <selectKey resultType="INTEGER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
    insert into t_parame (id, name, key, 
      value)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tianyi.yw.model.Parame" >
    insert into t_parame
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="key != null" >
        `key`,
      </if>
      <if test="value != null" >
        `value`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyi.yw.model.Parame" >
    update t_parame
    <set >
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        `value` = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyi.yw.model.Parame" >
    update t_parame
    set name = #{name,jdbcType=VARCHAR},
      key = #{key,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="sql_query">
  	from t_parame as p
  	where 1=1 
	<if test="searchName != null and searchName != ''">
		and (p.name like CONCAT('%',#{searchName,jdbcType=VARCHAR},'%')
		OR p.key like  CONCAT('%',#{searchName,jdbcType=VARCHAR},'%')
		)
	</if>
  </sql>
  <select id="getParameList" resultMap="BaseResultMap" parameterType="com.tianyi.yw.model.Parame">
  	select <include refid="Base_Column_List" /> 
	<include refid="sql_query" />
	order by p.id DESC
  	 <if test="pageStart != null and pageSize != null and pageStart>-1 and pageSize>-1">
        limit #{pageStart}, #{pageSize}
    </if>
  </select>
  <select id="getParameCount" resultType="java.lang.Integer" parameterType="com.tianyi.yw.model.Parame">
  	select count(*) 
  	<include refid="sql_query"></include>
  </select>
  <select id="getExistParame" resultMap="BaseResultMap" parameterType="com.tianyi.yw.model.Parame">
  	select <include refid="Base_Column_List" /> 
  	from t_parame p
  	where 1=1
  	<if test="name != null">
  		and p.name = #{name,jdbcType=VARCHAR}
  	</if>
  	<if test="id != null">
  		and p.id != #{id,jdbcType=INTEGER}
  	</if>
  </select>
</mapper>